@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    .custom-print-size {
        page-break-inside: avoid;
    }

    .page-break {
        page-break-after: always;
    }

    .page {
        position: relative;
        height: 1056px; 
        width: 816px; 
    }

    @page {
        size: 816px 1056px;/* this is letter*/
        margin: 0 !important; /* Ensure no margin is applied */
    }

    /* Additional styling to remove margins on elements */
    .no-margin {
        margin: 0 !important;
        padding: 0 !important;
    }
}
