@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide print content by default on screen */
@media screen {
    .print-container {
        display: none;
    }
}

@media print {
    .print-container {
        display: block;
    }
    
    @page {
            margin: 1in; 
    }
}