@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen {
    .print-container {
        display: none;
    }
}

@media print {
    .print-container {
        display: block;
    }
    @page {
        margin: 1in; 
    }
}